$small-screen: 767px;
$color-primary: #ffffff;
$color-secondary: #f5f8ff;
$color-button: #ef8094;
$color-footer: #eeeeee;
$color-border: #c4c4c4;
$color-black: #000000;
$color-btn-tbl: #4a4a4a;

$color-card: rgba(196, 196, 196, 0.5);
