@import "constants.scss";

header {

    background-color: $color-primary;
    width: 100vw;
    display: inline-block;
    position: fixed;
    z-index: 10;

    img {
        width: 100%;

    }

}
